@charset "utf-8";

/* 
font-family: "Poppins", sans-serif; 100~900

*/


/* 리셋 */
* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

section.about-me {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 150px;
    /* ← 여기가 거리 조절 핵심 */
    padding-top: 100px;
    box-sizing: border-box;


}


/* 왼쪽 */
section.about-me .profile {

    /* outline: 2px solid red; */
    align-items: center;
    padding: 0 50px 0 50px;
    box-sizing: border-box;
}

.profile h2 {
    font-size: 100px;
    font-weight: 600;
    text-align: center;
    
}

.profile .profile-imgbox {
    width: 500px;
}

.profile .profile-imgbox img {
    width: 100%;
    display: block;
}



/* 오른쪽 */
section.about-me .info {

    /* outline: 2px solid blue; */
    display: flex;
    flex-direction: column;
    /* 세로 정렬 */
    gap: 40px;
    /* 섹션 간 간격 조절 */

}

.info .box {
    display: flex;
}

.info .box .des {
    flex: 1;
}


.info .box .des h3 {
    font-size: 50px;
    font-weight: 600;
}

.info .box .des p {
    font-size: 25px;
    font-family: "poppins", sans-serif;
}



.info .skill-content {}

.info .skill-content h3 {
    font-size: 50px;
    font-weight: 600;
}

.info .skill-content ul {
    display: flex;
    flex-direction: row;
}

.info .skill-content ul li {
    margin-right: 15px;
}

.info .edu {}

.info .edu h3 {
    font-size: 50px;
    font-weight: 600;
}

.info .edu ul {
    padding-top: 5px;

    display: flex;
    flex-direction: column;
    /* 세로 정렬 */
    gap: 5px;
    /* 줄 간격 */
}

.info .edu ul li {
    font-size: 20px;

    font-family: "poppins", sans-serif;
}

.info .edu ul li span {
    font-family: "Jua", sans-serif;
    margin-right: 5px;
}




/* ***************************************************************************************************************************************************************** */
/* brand3 */

.introduce {
    position: relative;
}

.introduce .container {
    /* outline: 2px solid red; */

    padding-top: 200px;
    padding-left: 200px;



}

.container .motto-box {
    display: flex;
    margin-bottom: 20px;


}

.motto-box p {}

.motto-box .motto-title {
    font-size: 40px;
    margin-right: 20px;


}

.motto-box .motto-sub {
    font-size: 20px;
    vertical-align: bottom;
}




.container .main-content {}

.container .main-content h2.title {
    font-size: 80px;
    font-weight: 600;
}

.container .main-content h3.quote {
    font-size: 40px;
    margin-bottom: 50px;
}

.container .main-content p {
    font-size: 25px;
}

.container .vertical-text {
    font-size: 150px;
    font-weight: 600;
    color: transparent;
    /* 내부 투명 */
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.05);
    /* 외곽선 효과 */


    position: absolute;
    left: 10%;
    bottom: 0;

    font-family: "Poppins", sans-serif;
    overflow: hidden;
}



/* sw19 */
/* 전체 섹션 */
.sw19 {
    width: 100%;
    padding: 40px;
    background-color: #000;
    box-sizing: border-box;
}

/* 배경 */

.sw19 .brand-bg {
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    /* background-color: rgba(0, 0, 0, 0.1); */
    padding: 40px;
    border-radius: 10px;
    color: white;
    position: relative;
}

/* 번호 + 브랜드명 */
.sw19 .brand-header {
    display: flex;
  align-items: center;
    gap: 50px;
  font-size: 36px;
  margin-bottom: 50px;


}

.sw19 .brand-number {
    font-weight: bold;
}

.sw19 .brand-title {
    font-size: 50px;

}

/* 본문 */
.sw19 .brand-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

/* 개요 */
.sw19 .brand-overview {
    margin-top: 50px;
}

.sw19 .brand-overview h3 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sw19 .brand-overview p {
    font-size: 22px;
    line-height: 1.6;
    font-family: "Poppins", sans-serif;
}

/* 이미지 */
.sw19 .brand-image img {
    width: 600px;
    border-radius: 12px;
    object-fit: cover;
}

/* 하단 링크 */
.sw19 .brand-links {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    font-size: 18px;
    font-family: "Jua", sans-serif;
}

.sw19 .link-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sw19 .link-item a {
    color: #fff;
}

.sw19 .icon-img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}