@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

ul::after,
ol::after {
    content: "";
    display: block;
    clear: both;
}

li {
    float: left;
}

a {
    display: block;
    text-decoration: none;
    color: #ccc;
}

/* 보이는 화면 기준 크기 설정!!! */
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    background-color: navy;
}

/* header */
header {
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 10;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
header .inner {
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    height: 100%;

    /* outline: 1px solid lime; */
}


header .gnb {
    float: right;
    margin-right: 50px;
}

header .gnb ul {}
header .gnb ul li~li {
    margin-left: 20px;
}
header .gnb ul li a {
    line-height: 70px;
    font-size: 20px;
    font-weight: 600;
}
header .gnb ul li a:hover {
    color: #ff748b;
    text-decoration: underline;
}

/* 선택된 gnb 메뉴 디자인 */
header .gnb ul li.on {}
header .gnb ul li.on a {
    color: #ff748b;
    text-decoration: underline;
}

/* 섹션 디자인 */
/* 
.page를 가진 section의 부모는 body!
body가 가진 width, height 를 100% 모두 사용하겠다!!
>> 보이는 화면 기준으로 각 섹션이 한페이지씩 공간을 사용할 수 있어요
*/
.page {
    width: 100%;
    height: 100%;
    position: relative; /* .b-logo의 기준! */

    /* outline: 3px solid red; */
}
.page .b-logo {
    display: block;
    height: 60px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
}
#brand1 {background: url(../img/bg-po.jpg) no-repeat top/cover;}
#brand2 {background: url(../img/bg-1.jpg) no-repeat top/cover;}
#brand3 {background: url(../img/bg-2.jpg) no-repeat top/cover;}
#brand4 {background: url(../img/bg-3.jpg) no-repeat top/cover;}
#brand5 {background: url(../img/bg-4.jpg) no-repeat top/cover;}



/* portfolio */

.portfolio h1 {
    text-align: center;
    color: #fff;
    text-shadow: 0 20px 0 rgba(150, 150, 150, 0.8);
    font-size: 170px;
    padding-top: 150px;
}

.portfolio .intro {
    text-align: center;
    margin-top: 100px;
}

.portfolio .intro p {
    font-size: 25px;
    color: #E5E4E0;
}

.portfolio .intro h2 {
    font-size: 30px;
    color: #fff;
}

.portfolio .contact {

    margin-top: 100px;
    margin-left: 20%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 20px;
}

.portfolio .contact .contactbox {
    display: flex;
    gap: 20px;
}


footer {
    width: 100%;
    padding: 60px 0;
    background-color: #aaa;
    text-align: center;
    color: rgba(255,255,255,0.7);

    height: 150px !important;
    box-sizing: border-box;
}



